/* astrix grabs all and changes it (*)*/
/* Navigation Bar */
nav {
  border: 3px ridge #85483600;
  background-color: black;
  color: #F7F7F7;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex-wrap: wrap;

}


nav li {
  display: inline-block;
  color: #F7F7F7;
  text-decoration: none;
  padding: .5em;
  border-radius: 15px;
  height: 20px;
  text-align: center;
}

li:hover {
  background-color: #FFB22C;
  font-size: 18px;
}

/* Drop-down buttons */
.dropdown {
  background-color: black;
  color: #F7F7F7;
  padding: 16px;
  font-size: 16px;
  display: block;

}

.dropbtn{
  display: block;
margin-bottom: 15px;

}

.dropdown1 {
  position: relative;
  display: block;
  
}
.dropdown2 {
  position: relative;
  display: block;
  
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #F7F7F7;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px #F7F7F7;
  overflow: auto;
  

}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #F7F7F7;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px #F7F7F7;
  overflow: auto;
  

}

.dropdown-content a:hover {
  background-color: #F7F7F7;
}
.dropdown1:hover .dropdown-content1 {
  background-color: #FFB22C;
  display: block;
}
.dropdown2:hover .dropdown-conten2 {
  background-color: #FFB22C;
  display: block;
}

.dropbtn:hover {
  background-color: #FFB22C;
}